.cardName {
  width: 18rem;
  background: rgb(255, 246, 229);
  padding: 2px 0px;
  text-align: center;
  box-shadow: 3px 4px 5px rgb(199, 193, 181);
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}
